.stButton > button {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;
    border-radius: 8px;
    color: #31333F;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.element-container:has(.stButton) {
    margin-bottom: 0;
    padding: 0;
}

.stTabs [aria-selected="true"] {
    background-color: #ffffff;
    color: #2391ff;
    font-weight: bold;
    font-size: 18px;
}

.stTabs [data-baseweb="tab"]:hover {
    color: #000000;
}

.stTabs [data-baseweb="tab-highlight"] {
    display: none;
}