# Basic SQL Supabase configuration
POSTGRES_PORT=5432
POSTGRES_PASSWORD=supabase_password
POSTGRES_DB=supabase_db
SCHEMA_DB=meal_prep
JWT_SECRET=1fe75e7a6ece9bb222491fa56249cf9ccfb9149ec0806753c2c6247081bc0c8f

# Users/Roles
DB_ROLE_LOAD_DATA_PASS=load_data_pass
DB_ROLE_READ_DATA_PASS=read_data_pass

# Postgrest configuration
POSTGREST_PORT=2345
PGRST_DB_SCHEMAS=${SCHEMA_DB}
PGRST_DB_EXTRA_SEARCH_PATH=public
PGRST_DB_ANON_ROLE=anon